<div class="logg-body">
    <div class="container-fluid">
      <div class="col-md-12 text-center">
        <div class="header">
          <h2>Log In</h2>
        </div>
      </div>
      <div class="col-md-12 col-xs-12">
        <div class="box">
          <h2>Welcome</h2>
          <h3>Admin Dashboard</h3>
          <form onsubmit="event.preventDefault()">
            <input type="text" name="" placeholder="Username" />
            <input type="password" name="" placeholder="Password" />
            <a class="forgot text-muted" routerLink="/forgot">Forgot password?</a>
            <input type="submit" name="" value="Login" href="#" />
          </form>
        </div>
      </div>
    </div>
  </div>